@font-face {
  font-family: 'Inter';
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}

@mixin btnConfig {
  border: none;
  background: none;
  cursor: pointer;
}

$off-white: hsl(36, 100%, 99%);
$off-white-transparency: hsla(30, 2%, 84%, 0.705);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 1em;
  padding: 0;
  background: $off-white;
  font-family: 'Inter';
}

header {
  position: relative;
  max-width: 1320px;
  margin: 1em auto;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;

  .desktop-menu {
    @include btnConfig();
    display: none;
    ul {
      display: flex;
      gap: 3em;
      li {
        color: $dark-grayish-blue;
        &:hover {
          color: $soft-orange;
        }
      }
    }
  }

  .menu-open-button {
    @include btnConfig();
    display: flex;
  }

  #modal-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 100vh;
    background: $off-white;
    padding: 2em;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2em;
    ul {
      a {
        color: $very-dark-blue;
      }
      li {
        color: $very-dark-blue;
        margin: 2em 0;
      }
    }
    button {
      cursor: pointer;
      border: none;
      background: none;
      align-self: flex-end;
    }
  }
}

main {
  display: grid;
  align-items: flex-start;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  max-width: 1320px;
  max-height: 900px;
  margin: 0 auto;
}

.banner-img {
  grid-column: span 2;
  width: 100%;
  img {
    display: block;
    width: 100%;
  }
}

.main-section-title {
  h1 {
    color: $very-dark-blue;
    font-size: 3em;
    font-weight: 800;
    line-height: 1em;
  }
}
.main-section-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: $dark-grayish-blue;
    line-height: 1.5em;
    margin-bottom: 1em;
  }
  button {
    align-self: flex-start;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    font-size: 1em;
    letter-spacing: 0.4em;
    color: white;
    background: $soft-red;
    border: none;
    cursor: pointer;
    &:hover {
      background: $very-dark-blue;
    }
  }
}

.news-section {
  grid-row: span 2;
  background: $very-dark-blue;
  padding: 1.5em;
  h2 {
    font-size: 2em;
    color: #e9ab53;
  }
  a {
    h3 {
      color: $off-white;
      margin: 1.5em 0 1em;
    }
    &:hover h3 {
      color: $soft-orange;
    }
  }

  p {
    color: #c5c6ce;
    font-weight: 400;
    word-spacing: 0.2em;
    line-height: 1.5em;
    &:not(:last-child) {
      border-bottom: 1px solid #c5c6ce;
      padding-bottom: 1.5em;
    }
  }
}

.card {
  display: flex;
  gap: 1em;
  .card-image {
    flex: 0 0 30%;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      color: $grayish-blue;
      font-size: 2.5em;
    }
    a {
      h3 {
        font-size: 1.3em;
        color: $very-dark-blue;
      }
      &:hover h3 {
        color: $soft-red;
      }
    }

    p {
      color: $dark-grayish-blue;
      line-height: 1.5em;
    }
  }
}

.attribution {
  grid-column: span 3;
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

//Mobile
@media screen and (max-width: 968px) {
  main {
    gap: 2em;
    grid-template-columns: 1fr;
  }
  .banner-img {
    grid-column: span 1;
  }

  .news-section {
    grid-row: 4;
  }

  .card {
    flex-direction: wrap;
  }
  .main-section-content {
    p {
      margin-bottom: 1.5em;
    }
  }

  .card {
    display: flex;
    gap: 1em;

    .card-image {
      flex: 0 0 30%;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .card-content {
      h2 {
        font-size: 1.5em;
      }
      a {
        h3 {
          font-size: 1em;
        }
      }
    }
  }

  .attribution {
    grid-column: 1;
  }
}

//Tablet
@media screen and (min-width: 650px) and (max-width: 968px) {
  .card {
    .card-content {
      h2 {
        font-size: 2em;
      }
      a {
        h3 {
          font-size: 1.5em;
        }
      }
    }
  }
}
